@import "../../Responsive";

.poll {
	position: relative;
	background-color: orange;

	#{&}-section {
		margin: 4em 4em 6em;
	}

	#{&}-submit {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 2em;
	}

	#{&}-error {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 2em;
		font-family: "Ubuntu", serif;
		font-weight: bold;
		color: rgb(245, 0, 87);
		text-decoration: underline;
		width: 80%;

		@include media(tablet_mobile, portrait) {
			width: 60%;
		}
	}

	#{&}-entry-result {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: black;
		}
	}

	#{&}-entry-result-percent {
		text-align: right !important;
	}

	#{&}-entry-result-progress {
		background-color: transparent !important;
		height: 30px;

		div {
			margin: 0.5em 0 !important;
			background-color: rgb(245, 0, 87) !important;
		}
	}

	#{&}-entry-input {
		margin: 2em 0 !important;
	}

	#{&}-entry-vote {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: black;
		}

		span {
			margin: 0.15em 0;
		}
	}

	span {
		font-family: "Ubuntu", serif;
		font-size: 20px;
		justify-content: unset !important;
		text-align: left;
	}

	h3 {
		margin-top: 1em;
		font-family: "Amita", cursive;
		border-bottom: dashed 2px red;
		text-align: center;
		color: black !important;

		textarea {
			background-color: transparent;
			border: 0;
			resize: none;
			width: 80%;
			font-family: "Amita", cursive;
			text-align: center;
			font-size: 30px;
		}
	}
}
