@import "../../../Responsive";

.footer {
	padding: 10px;
	background-color: rgb(20, 20, 20);

	#{&}-socials {
		justify-content: flex-start;

		@include media(tablet_mobile, portrait) {
			justify-content: center;
		}
	}

	#{&}-grid {
		flex-direction: row;

		@include media(tablet_mobile, portrait) {
			flex-direction: column;
		}
	}

	#{&}-copyrights {
		margin: 1em 0;

		h6 {
			font-size: 1.5em;
			padding: 0 4em;
			text-align: center;
		}
	}

	h4, h2, h6 {
		text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
		color: gainsboro;
		font-size: 24px;
		user-select: none;
		transition: text-shadow ease-in-out 0.2s;
		white-space: nowrap;
	}

	hr {
		border-color: rgb(50, 50, 50);
	}

	button {
		background-color: transparent;

		path {
			fill: #2a2a2a;
		}
	}

	img {
		margin: 1em;
		width: 100px;
		height: auto;
	}
}
