@import "../../Responsive";

.piechart {
	height: 300px;
	margin: 4em 0;
	cursor: pointer;
	overflow: visible;

	text {
		fill: gainsboro;
		font-size: 5px;
		font-family: sans-serif;
		user-select: none;
		pointer-events: none;
		text-shadow: 1px 1px dimgray;
	}

	path {
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
		transition-property: filter, transform;
		transform-origin: center center;

		&:hover {
			filter: saturate(110%) brightness(140%);
			transform: scale(1.05);
		}
	}

	@include media(tablet_mobile, portrait) {
		margin-top: 0;
		margin-bottom: 4em;
	}
}
